*.pyc
*~
__pycache__
env
db.sqlite3
.DS_Store

sonet/settings/local.py
sonet/special/

static
migrations2
migrations3

sovote/geos-3.9.4
sovote/proj-9.1.1
sovote/gdal-3.6.2

logs
supervisor
important_info.txt
word_cloud
server_setup.txt
test.py
nginx_backups.txt
node_modules
latest_requirements.txt
requirements2.txts
soNodeOperatorData.json
.soSecret.key
soSecret.key

Templates/story.html
Templates/question.html

prev_reqs/
notes_move_to_main_chain.txt

pyenv
.env
.venv
env/
venv/
.sync
.vscode
