{% load static %}


<div id='index'>
{% if sonet %}
<a href='/' class='navTop'>   
    
    <div class='shadow'></div>
    <img id='logo' src={% static sonet.LogoLink %}>
    {% if sonet.Title == 'SoVote' %}
    <h1>So<span style="position:relative; right:3px"><span style='font-size:100%'>V</span>ote</span></h1>
    {% else %}
    <h1>{{ sonet.Title }}</h1>
    {% endif %}
    <div>{{ sonet.Subtitle }}</div>
    
</a>
{% else %}

<div class='navTop'>   
    <div class='shadow'></div>
    <br>
    <br>
    <h1><span style="cursor: pointer;" onclick="modalPopUp('Login', '/accounts/login-signup')">CREATE</span></h1>
</div>
{% endif %}
<div id='navigation'>

<div style="position: relative;margin-left: 55px; margin-top: 10px; margin-bottom: -10px; font-style:italic;">in development {{ sonet }}</div>
<ul id='userProfile'>
    <li><img id='userPic' src={% static 'img/user-coloured.png' %}></li>
    <!-- <li id='userName'><span onclick="modalPopUp('Select Region', '/accounts/get_country_modal')">enter region</span></li> -->
    <li id='userName'>{% if request.user.is_authenticated %}{{ request.user.get_userLink_html|safe }}{% else %}<span onclick="modalPopUp('Login', '/accounts/login-signup')">Login/Signup</span>{% endif %}</li>
    <!-- <li id='userName'>{% if request.user.is_authenticated %}<a href='{{ user.get_absolute_url }}'><span style='color:#b78e12'>V</span><span style='color:gray'>/</span>{{ user.display_name }}</a>{% else %}<span onclick="modalPopUp('Login / Signup', '/accounts/login-signup')">Login/Signup</span>{% endif %}</li> -->
    <!-- <li class='userName'>{% if request.user.is_authenticated %}<a href='{{ user.get_absolute_url }}'><span style='color:#b78e12'>V</span><div class='shady'><div id="line_one"></div><div id="line_two"></div></div>{{ user.username }}</a>{% else %}<a href='/login'>Login / Signup</a>{% endif %}</li> -->
    
</ul>



<ul>

    {% if request.user.is_authenticated %}
        <!-- <li style="font-style: italic;"><a href='/new'>New</a></li> -->
    {% endif %}
    <li style="font-style: italic;"><a href='/{{ country.Name|lower }}/search'>Search</a></li>
    <br>
    {% if request.user.is_authenticated %}
        <li style='font-size:130%'><a href='/{{ country.Name|lower }}/home'>Home</a></li>
    <ul class='navSubmenu' id='home'>    
        <li><a href='/following'>Following</a></li>
        <li><a href='/region'>Region</a></li>
    </ul>
    {% else %}
        <li style='font-size:130%'><a href='/{{ country.Name|lower }}/home'>Home</a></li>
        <ul class='navSubmenu' id='home'>    
            <li><a href='/region'>Region</a></li>
        </ul>
    {% endif %}
    <br>
    <li style='font-size:130%'><a href='/{{ country.Name|lower }}/legislature'>Legislature</a></li>
    <ul class='navSubmenu' id='legislature'>    
        {% for i in country.menuItem_array %}
        <li><a href='/{{ country.Name|lower }}/{{i|lower}}'>{{ i }}</a></li>
        {% endfor %}
    </ul>
    <br>
    <li style="font-style: italic; font-size:85%">~Coming~</li>
    <li style='font-size:130%'><a href='/{{ country.Name|lower }}/citizenry'>Citizenry</a></li>
    <ul class='navSubmenu' id='citizenry'>    
        <li><a href='/{{ country.Name|lower }}/citizen-debates'>Debates</a></li>
        <li><a href='/{{ country.Name|lower }}/citizen_bills'>Bills</a></li>
        <li><a href='/{{ country.Name|lower }}/polls'>Polls</a></li>
        <!-- <li><a href='/petitions'>Petitions</a></li> -->
    </ul>

    <li style="margin-top: 35px;"></li>
    <li style="font-style: italic;"><a href='/'>Welcome</a></li>
    {% if request.user.is_superuser %}
    <li style="font-style: italic;"><a href='/someta'>SoMeta</a></li>
    {% endif %}
    <li style="font-style: italic;"><a href='/hero'>Be a Hero</a></li>
    <li style="font-style: italic;"><a href='/values'>Our Values</a></li>
    <li style="font-style: italic;"><a href='/get-the-app'>Get the App</a></li>
    <br>
    {% if theme == 'night' %}
    <li id='theme' onclick='themer()'>Night Theme</a></li>
    {% else %}
    <li  id='theme' onclick='themer()'>Day Theme</a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li id="settingsLink"><a href='/user/settings'>Settings</a></li>
    <li id="logoutLink"><a onclick='logout("/accounts/logout")'>Log Out</a></li>
    {% else %}
    <li id="settingsLink"></li>
    <li id="logoutLink"></li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li><a href='/utils/super'>SuperUser</a></li>
    {% endif %}

</ul>
<br>

</div>

</div>